In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.decomposition import TruncatedSVD
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model.logistic import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import preprocessing

from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt

import sklearn.metrics as metrics

In [3]:
df =  pd.read_csv('Data_sample.csv')
df_test = pd.read_csv('Sep_test_new.csv',encoding='cp1252')

In [4]:
df.columns

Index(['OfferId', 'OverallStatus', 'Status', 'Hiretype', 'RecruiterGPN',
       'Title', 'DateOfBirth', 'Original State', 'PinCode', 'Source',
       'Department', 'IT', 'Joining Center', 'Facility', 'Rank',
       'IsRotationalShift', 'NoticePeriod', 'Qualification1', 'Big four',
       'DAndI', 'hike%', 'JoiningBonus',
       'GoodsTransportationTravelEligibility', 'Stipend', 'Experienced',
       'IsNoticePeriodReimbursementProvided', 'ExpectedJoiningDate',
       'ActualJoiningDate'],
      dtype='object')

In [5]:
df.head()

,OfferId,OverallStatus,Status,Hiretype,RecruiterGPN,Title,DateOfBirth,Original State,PinCode,Source,...,Big four,DAndI,hike%,JoiningBonus,GoodsTransportationTravelEligibility,Stipend,Experienced,IsNoticePeriodReimbursementProvided,ExpectedJoiningDate,ActualJoiningDate
0,20658,Joined,OfferAccepted,New Employee,XE020M42382,Mr,15-11-1985,Karnataka,560016,EMPLOYEE REFERRAL,...,1,0,33%,0,0,0,1,0,02-07-2018,02-07-2018
1,21331,Joined,OfferAccepted,New Employee,XE020M42382,Mr,01-02-1981,Karnataka,560037,PORTAL,...,0,0,31%,0,0,0,1,0,30-07-2018,30-07-2018
2,21383,Joined,OfferAccepted,New Employee,XE020M39949,Mr,16-03-1990,Karnataka,560007,EMPLOYEE REFERRAL,...,0,0,36%,0,0,0,1,0,16-07-2018,16-07-2018
3,21389,Joined,OfferAccepted,New Employee,XE020M42382,Ms,09-07-1988,New Delhi,110018,CONSULTANCY,...,1,0,36%,0,0,0,1,1,16-07-2018,16-07-2018
4,21597,Joined,OfferAccepted,New Employee,XE021301732,Mr,12-05-1987,Karnataka,560075,EMPLOYEE REFERRAL,...,0,0,23%,0,0,0,1,0,30-07-2018,30-07-2018

In [6]:
df.head()

,OfferId,OverallStatus,Status,Hiretype,RecruiterGPN,Title,DateOfBirth,Original State,PinCode,Source,...,Big four,DAndI,hike%,JoiningBonus,GoodsTransportationTravelEligibility,Stipend,Experienced,IsNoticePeriodReimbursementProvided,ExpectedJoiningDate,ActualJoiningDate
0,20658,Joined,OfferAccepted,New Employee,XE020M42382,Mr,15-11-1985,Karnataka,560016,EMPLOYEE REFERRAL,...,1,0,33%,0,0,0,1,0,02-07-2018,02-07-2018
1,21331,Joined,OfferAccepted,New Employee,XE020M42382,Mr,01-02-1981,Karnataka,560037,PORTAL,...,0,0,31%,0,0,0,1,0,30-07-2018,30-07-2018
2,21383,Joined,OfferAccepted,New Employee,XE020M39949,Mr,16-03-1990,Karnataka,560007,EMPLOYEE REFERRAL,...,0,0,36%,0,0,0,1,0,16-07-2018,16-07-2018
3,21389,Joined,OfferAccepted,New Employee,XE020M42382,Ms,09-07-1988,New Delhi,110018,CONSULTANCY,...,1,0,36%,0,0,0,1,1,16-07-2018,16-07-2018
4,21597,Joined,OfferAccepted,New Employee,XE021301732,Mr,12-05-1987,Karnataka,560075,EMPLOYEE REFERRAL,...,0,0,23%,0,0,0,1,0,30-07-2018,30-07-2018

In [7]:
df.shape

(5310, 28)

In [10]:
df.shape

(5310, 28)

In [11]:
df.columns

Index(['OfferId', 'OverallStatus', 'Status', 'Hiretype', 'RecruiterGPN',
       'Title', 'DateOfBirth', 'Original State', 'PinCode', 'Source',
       'Department', 'IT', 'Joining Center', 'Facility', 'Rank',
       'IsRotationalShift', 'NoticePeriod', 'Qualification1', 'Big four',
       'DAndI', 'hike%', 'JoiningBonus',
       'GoodsTransportationTravelEligibility', 'Stipend', 'Experienced',
       'IsNoticePeriodReimbursementProvided', 'ExpectedJoiningDate',
       'ActualJoiningDate'],
      dtype='object')

In [12]:
df.dtypes

OfferId                                  int64
OverallStatus                           object
Status                                  object
Hiretype                                object
RecruiterGPN                            object
Title                                   object
DateOfBirth                             object
Original State                          object
PinCode                                  int64
Source                                  object
Department                              object
IT                                       int64
Joining Center                          object
Facility                                object
Rank                                     int64
IsRotationalShift                         bool
NoticePeriod                             int64
Qualification1                          object
Big four                                 int64
DAndI                                    int64
hike%                                   object
JoiningBonus                             int64
GoodsTransportationTravelEligibility     int64
Stipend                                  int64
Experienced                              int64
IsNoticePeriodReimbursementProvided     object
ExpectedJoiningDate                     object
ActualJoiningDate                       object
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5310 entries, 0 to 5309
Data columns (total 28 columns):
OfferId                                 5310 non-null int64
OverallStatus                           5310 non-null object
Status                                  5310 non-null object
Hiretype                                5310 non-null object
RecruiterGPN                            5310 non-null object
Title                                   5310 non-null object
DateOfBirth                             5310 non-null object
Original State                          5310 non-null object
PinCode                                 5310 non-null int64
Source                                  5310 non-null object
Department                              5310 non-null object
IT                                      5310 non-null int64
Joining Center                          5310 non-null object
Facility                                5310 non-null object
Rank                                    5310 non-null int64
IsRotationalShift                       5310 non-null bool
NoticePeriod                            5310 non-null int64
Qualification1                          5310 non-null object
Big four                                5310 non-null int64
DAndI                                   5310 non-null int64
hike%                                   5310 non-null object
JoiningBonus                            5310 non-null int64
GoodsTransportationTravelEligibility    5310 non-null int64
Stipend                                 5310 non-null int64
Experienced                             5310 non-null int64
IsNoticePeriodReimbursementProvided     5310 non-null object
ExpectedJoiningDate                     5310 non-null object
ActualJoiningDate                       2667 non-null object
dtypes: bool(1), int64(11), object(16)
memory usage: 1.1+ MB

In [212]:
df.describe()

,OfferId,PinCode,IT,Rank,NoticePeriod,Big four,DAndI,JoiningBonus,GoodsTransportationTravelEligibility,Stipend,Experienced
count,5310.000000,5.310000e+03,5310.000000,5310.000000,5310.000000,5310.000000,5310.000000,5310.000000,5310.000000,5310.000000,5310.000000
mean,33401.881921,5.791100e+05,0.133898,40.749153,1.956121,0.299435,0.005273,0.011676,0.231262,0.048023,0.944821
std,5275.968892,1.104062e+06,0.340575,8.691007,0.204846,0.458054,0.072431,0.107433,0.421679,0.213834,0.228351
min,20658.000000,3.000000e+00,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28548.000000,5.600160e+05,0.000000,42.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,33135.000000,5.600660e+05,0.000000,44.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,37932.000000,6.000330e+05,0.000000,44.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,44164.000000,4.521628e+07,1.000000,44.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [213]:
df.isnull().sum()

OfferId                                    0
OverallStatus                              0
Status                                     0
Hiretype                                   0
RecruiterGPN                               0
Title                                      0
DateOfBirth                                0
Original State                             0
PinCode                                    0
Source                                     0
Department                                 0
IT                                         0
Joining Center                             0
Facility                                   0
Rank                                       0
IsRotationalShift                          0
NoticePeriod                               0
Qualification1                             0
Big four                                   0
DAndI                                      0
hike%                                      0
JoiningBonus                               0
GoodsTransportationTravelEligibility       0
Stipend                                    0
Experienced                                0
IsNoticePeriodReimbursementProvided        0
ExpectedJoiningDate                        0
ActualJoiningDate                       2643
dtype: int64

In [214]:
df.dtypes

OfferId                                  int64
OverallStatus                           object
Status                                  object
Hiretype                                object
RecruiterGPN                            object
Title                                   object
DateOfBirth                             object
Original State                          object
PinCode                                  int64
Source                                  object
Department                              object
IT                                       int64
Joining Center                          object
Facility                                object
Rank                                     int64
IsRotationalShift                         bool
NoticePeriod                             int64
Qualification1                          object
Big four                                 int64
DAndI                                    int64
hike%                                   object
JoiningBonus                             int64
GoodsTransportationTravelEligibility     int64
Stipend                                  int64
Experienced                              int64
IsNoticePeriodReimbursementProvided     object
ExpectedJoiningDate                     object
ActualJoiningDate                       object
dtype: object

In [14]:
df.OverallStatus.value_counts()

Joined           2665
OfferDeclined    2645
Name: OverallStatus, dtype: int64

In [15]:
df = df.rename(columns = {'Original State':'Original_State'})

In [16]:
df = df.rename(columns = {'Joining Center':'Joining_Center'})

In [17]:
df = df.rename(columns = {'hike%':'Hike'})

In [18]:
df = df.rename(columns = {'Big four': 'Big_four'})

In [19]:
df.columns

Index(['OfferId', 'OverallStatus', 'Status', 'Hiretype', 'RecruiterGPN',
       'Title', 'DateOfBirth', 'Original_State', 'PinCode', 'Source',
       'Department', 'IT', 'Joining_Center', 'Facility', 'Rank',
       'IsRotationalShift', 'NoticePeriod', 'Qualification1', 'Big_four',
       'DAndI', 'Hike', 'JoiningBonus', 'GoodsTransportationTravelEligibility',
       'Stipend', 'Experienced', 'IsNoticePeriodReimbursementProvided',
       'ExpectedJoiningDate', 'ActualJoiningDate'],
      dtype='object')

In [20]:
df['Hike'] = df.Hike.str.replace('%', '')
df['Hike'] = df['Hike'].astype(str).astype(int)

In [21]:
df['Hike'].dtype

dtype('int32')

In [22]:
df.head(3)

,OfferId,OverallStatus,Status,Hiretype,RecruiterGPN,Title,DateOfBirth,Original_State,PinCode,Source,...,Big_four,DAndI,Hike,JoiningBonus,GoodsTransportationTravelEligibility,Stipend,Experienced,IsNoticePeriodReimbursementProvided,ExpectedJoiningDate,ActualJoiningDate
0,20658,Joined,OfferAccepted,New Employee,XE020M42382,Mr,15-11-1985,Karnataka,560016,EMPLOYEE REFERRAL,...,1,0,33,0,0,0,1,0,02-07-2018,02-07-2018
1,21331,Joined,OfferAccepted,New Employee,XE020M42382,Mr,01-02-1981,Karnataka,560037,PORTAL,...,0,0,31,0,0,0,1,0,30-07-2018,30-07-2018
2,21383,Joined,OfferAccepted,New Employee,XE020M39949,Mr,16-03-1990,Karnataka,560007,EMPLOYEE REFERRAL,...,0,0,36,0,0,0,1,0,16-07-2018,16-07-2018

In [23]:
df['DOB_year'] = pd.DatetimeIndex(df['DateOfBirth']).year

In [24]:
df['Age'] = 2019 - df['DOB_year']

In [25]:
df_1 = df[['OverallStatus', 'Hiretype', 'RecruiterGPN',
       'Title', 'Age', 'Original_State', 'PinCode', 'Source',
       'Department', 'IT', 'Joining_Center', 'Facility', 'Rank',
       'IsRotationalShift', 'NoticePeriod', 'Qualification1','Hike', 'Big_four','JoiningBonus',
       'GoodsTransportationTravelEligibility', 'Stipend', 'Experienced',
       'IsNoticePeriodReimbursementProvided', 'ExpectedJoiningDate']]

In [26]:
df_1['Expected_Month'] = pd.DatetimeIndex(df['ExpectedJoiningDate']).month

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_1.IsNoticePeriodReimbursementProvided.value_counts()

0        4988
FALSE     247
1          71
TRUE        4
Name: IsNoticePeriodReimbursementProvided, dtype: int64

In [28]:
df_1['IsNoticePeriodReimbursementProvided'] = df_1['IsNoticePeriodReimbursementProvided'].replace('nan', np.nan).fillna(0)

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df_1['IsNoticePeriodReimbursementProvided'] = df_1['IsNoticePeriodReimbursementProvided'].str.replace('TRUE','1')
df_1['IsNoticePeriodReimbursementProvided'] = df_1['IsNoticePeriodReimbursementProvided'].str.replace('FALSE','0')

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
df_1.IsNoticePeriodReimbursementProvided.value_counts()

0    5235
1      75
Name: IsNoticePeriodReimbursementProvided, dtype: int64

In [31]:
df_1.Experienced.value_counts()

1    5017
0     293
Name: Experienced, dtype: int64

In [32]:
df_1.Stipend.value_counts()

0    5055
1     255
Name: Stipend, dtype: int64

In [33]:
df_1.GoodsTransportationTravelEligibility.value_counts()

0    4082
1    1228
Name: GoodsTransportationTravelEligibility, dtype: int64

In [34]:
df_1.JoiningBonus.value_counts()

0    5248
1      62
Name: JoiningBonus, dtype: int64

In [35]:
df_1.Hike.value_counts()

 100    1679
 0       303
 23      228
 24      212
 26      171
 25      153
 29      141
 30      135
 28      126
 31      124
 20      122
 32      112
 33      111
 27      109
 22      109
 21      106
 13       97
 35       88
 17       81
 18       70
 37       69
 9        64
 34       61
 36       60
 40       49
 19       48
 38       46
 16       43
 43       41
 15       40
        ...
 45       15
 47       14
 49       14
 52       13
 3        11
 50       10
 54       10
 59        8
 1         8
 57        7
 2         7
 64        6
 51        5
 83        4
 58        4
 56        3
 70        3
 68        2
 53        2
-14        2
 4         2
 60        1
 72        1
-15        1
 79        1
 69        1
 74        1
-5         1
 67        1
 61        1
Name: Hike, Length: 74, dtype: int64

In [36]:
df_1.Qualification1.value_counts()

Post Grad    4272
Grad          676
MBA           340
CA             22
Name: Qualification1, dtype: int64

In [37]:
df_1.NoticePeriod.value_counts()

2    5077
1     233
Name: NoticePeriod, dtype: int64

In [38]:
df_1.IsRotationalShift.value_counts()

False    5249
True       61
Name: IsRotationalShift, dtype: int64

In [39]:
df_1.Rank.value_counts()

44    2805
42    2005
4      259
32     241
Name: Rank, dtype: int64

In [40]:
df_1.Facility.value_counts()

BLR CORAL/EYGDS/SEZ               4112
GGN UCP/All Entities/Non-SEZ       420
KOC Carnival/EYGDS/SEZ-SFT         257
CHN DLF/EYLLP/EYGDS/SEZ            197
CHN DLF/ EYGDS/SEZ-SFT             110
KOC Carnival4/All Entities/SEZ      89
KOC Carnival2/All Entities/SEZ      45
BLR RMZ/All Entities/NON-SEZ        37
BLR Garnet/EYLLP/EYGDS/SEZ          17
TVM Thejaswini/All/NON-SEZ          11
TVM Drishya/All Entities/SEZ         8
BLR BMP/All Entities/NON-SEZ         5
KOC Athulya/EYGBS/SEZ                1
BLR BTP/All Entities/NON-SEZ         1
Name: Facility, dtype: int64

In [41]:
df_1.IT.value_counts()

0    4599
1     711
Name: IT, dtype: int64

In [42]:
df_1.Joining_Center.value_counts()

Bangalore     4172
Gurgaon        420
Kochi          392
Chennai        307
Trivandrum      19
Name: Joining_Center, dtype: int64

In [43]:
df_1.PinCode.value_counts()

560037    223
560043    152
560016    131
560068     87
560076     86
500084     79
560078     72
122001     63
560029     62
560093     61
560066     59
560036     59
560048     58
560085     51
560100     47
500081     46
560010     44
560032     43
560035     43
560038     42
560075     40
560097     40
560045     36
560077     36
560103     35
560079     35
560102     34
560084     33
560008     33
560033     31
         ...
580004      1
635301      1
689105      1
686516      1
560104      1
562123      1
670307      1
686540      1
562107      1
515002      1
676301      1
500091      1
769014      1
690514      1
500083      1
517325      1
509125      1
679102      1
122022      1
690526      1
122006      1
636007      1
603127      1
683108      1
500821      1
574509      1
515110      1
769042      1
625018      1
600009      1
Name: PinCode, Length: 1019, dtype: int64

In [44]:
df_1.Source.value_counts()

EMPLOYEE REFERRAL        1887
CONSULTANCY              1483
PORTAL                   1241
CAMPUS                    502
WALK-IN                    67
GDS LEAP                   54
CWR TO FTE CONVERSION      31
ALTERNATE SOURCE           28
OFF CAMPUS                 10
TRANSFER                    5
ADVERTISEMENT               1
OTHER TRANSFER              1
Name: Source, dtype: int64

In [45]:
df_1.Hiretype.value_counts()

New Employee    4870
Re hire          366
Transfer          74
Name: Hiretype, dtype: int64

In [46]:
df_1.RecruiterGPN.value_counts()

XE020M42382    1146
XE020M38015     838
XE020M32824     602
XE020M39949     517
XE020M24041     363
XE020M36003     338
XE020M32654     263
XE020M51545     260
XE020M63277     206
XE020M22317     203
XE021306642     172
XE020M00201     103
XE020M17867      98
XE020M24506      94
XE021305129      56
XE020M63244      37
XE021301732       9
XE021306728       2
XE021305189       1
IN010M41415       1
XE020M20654       1
Name: RecruiterGPN, dtype: int64

In [47]:
df_1.Title.value_counts()

Mr    2935
Ms    2375
Name: Title, dtype: int64

In [48]:
df_1.Age.value_counts()

24    502
25    458
28    447
30    447
27    443
29    417
26    416
23    375
22    359
31    305
32    269
33    177
21    131
35    110
34     99
36     82
38     44
37     42
40     42
20     42
41     29
43     18
42     16
39     15
45      7
44      6
46      4
50      4
19      3
48      1
Name: Age, dtype: int64

In [49]:
df_1.Original_State.value_counts()

Karnataka            2849
Kerala                488
Tamil Nadu            477
West Bengal           384
Andhra Pradesh        353
New Delhi             231
Haryana               158
Maharashtra            98
Telangana              94
Uttar Pradesh          77
Gujarat                25
Jharkhand              22
Uttarakhand            11
Orissa                  9
Assam                   9
Madhya Pradesh          8
HARYANA                 4
Rajasthan               4
Punjab                  2
Chhattisgarh            2
Australia               1
England                 1
Sharjah                 1
Georgia                 1
Jammu and Kashmir       1
Name: Original_State, dtype: int64

In [50]:
df_1['OverallStatus_Labelenc'] = df["OverallStatus"].values
print("BEFORE ENCODING : {}".format(df_1.OverallStatus_Labelenc[0:10]))

print("")

le = preprocessing.LabelEncoder()
le.fit(df_1.OverallStatus)

print("ENCODED CLASSES : {}".format(le.classes_))
print("")

df_1['OverallStatus_Labelenc'] = le.transform(df.OverallStatus)

print(df_1.OverallStatus_Labelenc.value_counts())
print(df.OverallStatus.value_counts())

BEFORE ENCODING : 0    Joined
1    Joined
2    Joined
3    Joined
4    Joined
5    Joined
6    Joined
7    Joined
8    Joined
9    Joined
Name: OverallStatus_Labelenc, dtype: object

ENCODED CLASSES : ['Joined' 'OfferDeclined']

0    2665
1    2645
Name: OverallStatus_Labelenc, dtype: int64
Joined           2665
OfferDeclined    2645
Name: OverallStatus, dtype: int64

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [51]:
#df['Hike'] = df['Hike'].astype(int64)
df['Hike'] = df['Hike'].astype(int)

In [52]:
df.columns

Index(['OfferId', 'OverallStatus', 'Status', 'Hiretype', 'RecruiterGPN',
       'Title', 'DateOfBirth', 'Original_State', 'PinCode', 'Source',
       'Department', 'IT', 'Joining_Center', 'Facility', 'Rank',
       'IsRotationalShift', 'NoticePeriod', 'Qualification1', 'Big_four',
       'DAndI', 'Hike', 'JoiningBonus', 'GoodsTransportationTravelEligibility',
       'Stipend', 'Experienced', 'IsNoticePeriodReimbursementProvided',
       'ExpectedJoiningDate', 'ActualJoiningDate', 'DOB_year', 'Age'],
      dtype='object')

In [53]:
df_1.columns

Index(['OverallStatus', 'Hiretype', 'RecruiterGPN', 'Title', 'Age',
       'Original_State', 'PinCode', 'Source', 'Department', 'IT',
       'Joining_Center', 'Facility', 'Rank', 'IsRotationalShift',
       'NoticePeriod', 'Qualification1', 'Hike', 'Big_four', 'JoiningBonus',
       'GoodsTransportationTravelEligibility', 'Stipend', 'Experienced',
       'IsNoticePeriodReimbursementProvided', 'ExpectedJoiningDate',
       'Expected_Month', 'OverallStatus_Labelenc'],
      dtype='object')

In [54]:
df_1 = df_1[['OverallStatus_Labelenc','Hiretype', 'RecruiterGPN',
       'Title', 'Age', 'Original_State', 'PinCode', 'Source',
       'Department', 'IT', 'Joining_Center', 'Facility', 'Rank','Big_four',
       'IsRotationalShift', 'NoticePeriod', 'Qualification1','Hike', 'JoiningBonus',
       'GoodsTransportationTravelEligibility', 'Stipend', 'Experienced',
       'IsNoticePeriodReimbursementProvided', 'Expected_Month']]

In [55]:
df_1.dtypes

OverallStatus_Labelenc                   int32
Hiretype                                object
RecruiterGPN                            object
Title                                   object
Age                                      int64
Original_State                          object
PinCode                                  int64
Source                                  object
Department                              object
IT                                       int64
Joining_Center                          object
Facility                                object
Rank                                     int64
Big_four                                 int64
IsRotationalShift                         bool
NoticePeriod                             int64
Qualification1                          object
Hike                                     int32
JoiningBonus                             int64
GoodsTransportationTravelEligibility     int64
Stipend                                  int64
Experienced                              int64
IsNoticePeriodReimbursementProvided     object
Expected_Month                           int64
dtype: object

In [56]:
X = df_1[['Hiretype','Title', 'Age', 'Source', 'IT', 'Joining_Center','Rank', 'NoticePeriod','Big_four','Qualification1','Hike', 'Experienced','Expected_Month','IsNoticePeriodReimbursementProvided']]

In [57]:
X['IsNoticePeriodReimbursementProvided']= X.IsNoticePeriodReimbursementProvided.astype(int)

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
X.dtypes

Hiretype                               object
Title                                  object
Age                                     int64
Source                                 object
IT                                      int64
Joining_Center                         object
Rank                                    int64
NoticePeriod                            int64
Big_four                                int64
Qualification1                         object
Hike                                    int32
Experienced                             int64
Expected_Month                          int64
IsNoticePeriodReimbursementProvided     int32
dtype: object

In [59]:
X.isnull().sum()

Hiretype                               0
Title                                  0
Age                                    0
Source                                 0
IT                                     0
Joining_Center                         0
Rank                                   0
NoticePeriod                           0
Big_four                               0
Qualification1                         0
Hike                                   0
Experienced                            0
Expected_Month                         0
IsNoticePeriodReimbursementProvided    0
dtype: int64

In [60]:
y = df_1[['OverallStatus_Labelenc']]

In [61]:
df_test.columns

Index(['OfferId', 'Status', 'Hiretype', 'RecruiterGPN', 'Title', 'Age',
       'PinCode', 'Source', 'SetId', 'Joining_Center', 'Facility', 'Grade',
       'IsRotationalShift', 'Qualification', 'CourseCompletionYear',
       'PreviousEmployer', 'IsThomasAssessmentRequired', 'DAndI',
       'RelocationBonus', 'Stipend', 'EmploymentDurationInMonths',
       'ExpectedJoiningDate', 'Expected_Month', 'NoticePeriod', 'Hike',
       'Experienced', 'Joining_Center.1', 'Rank', 'IsRotationalShift.1', 'IT',
       'Big_four', 'Qualification1', 'IsNoticePeriodReimbursementProvided',
       'Final_Status'],
      dtype='object')

In [62]:
df_test.isnull().sum()

OfferId                                 0
Status                                  0
Hiretype                                0
RecruiterGPN                            0
Title                                   0
Age                                     0
PinCode                                 0
Source                                  0
SetId                                   0
Joining_Center                          0
Facility                                0
Grade                                   0
IsRotationalShift                       0
Qualification                           0
CourseCompletionYear                   21
PreviousEmployer                       68
IsThomasAssessmentRequired             46
DAndI                                  63
RelocationBonus                         0
Stipend                                 0
EmploymentDurationInMonths              0
ExpectedJoiningDate                     0
Expected_Month                          0
NoticePeriod                            0
Hike                                    0
Experienced                             0
Joining_Center.1                        0
Rank                                    0
IsRotationalShift.1                     0
IT                                      0
Big_four                                0
Qualification1                          0
IsNoticePeriodReimbursementProvided     0
Final_Status                            0
dtype: int64

In [63]:
#df_test = df_test.rename(columns = {'IT/Non IT':'IT'})

In [64]:
#mapping_new = {'Non IT':'0','IT':'1'}
#df_test['IT'] = df_test['IT'].map(mapping_new)

In [65]:
df_test['Hike'].replace('%','',regex=True,inplace=True)
df_test['Hike']

0        0
1       57
2        1
3       18
4       32
5        0
6       25
7       64
8       25
9       21
10      90
11     -17
12      30
13      26
14      30
15      43
16      25
17      31
18      34
19      33
20      26
21       0
22       0
23       0
24      40
25      43
26      30
27      47
28      45
29      37
      ...
283      0
284     89
285     10
286     25
287     30
288    100
289     32
290     33
291     98
292     46
293     44
294     13
295     30
296     36
297     48
298     34
299     14
300    -21
301      0
302     10
303     30
304      0
305     71
306     33
307     21
308     45
309      0
310     53
311     27
312     30
Name: Hike, Length: 313, dtype: object

In [66]:
df_test['Hike'] = df_test['Hike'].astype(int)

In [67]:
X.IsNoticePeriodReimbursementProvided.value_counts()

0    5235
1      75
Name: IsNoticePeriodReimbursementProvided, dtype: int64

In [68]:
X.dtypes

Hiretype                               object
Title                                  object
Age                                     int64
Source                                 object
IT                                      int64
Joining_Center                         object
Rank                                    int64
NoticePeriod                            int64
Big_four                                int64
Qualification1                         object
Hike                                    int32
Experienced                             int64
Expected_Month                          int64
IsNoticePeriodReimbursementProvided     int32
dtype: object

In [69]:
X.isnull().sum()

Hiretype                               0
Title                                  0
Age                                    0
Source                                 0
IT                                     0
Joining_Center                         0
Rank                                   0
NoticePeriod                           0
Big_four                               0
Qualification1                         0
Hike                                   0
Experienced                            0
Expected_Month                         0
IsNoticePeriodReimbursementProvided    0
dtype: int64

In [70]:
X_test = df_test[['Hiretype','Title', 'Age', 'Source', 'IT', 'Joining_Center','Rank', 'NoticePeriod','Big_four','Qualification1','Hike', 'Experienced','Expected_Month','IsNoticePeriodReimbursementProvided']]

In [71]:
X.dtypes

Hiretype                               object
Title                                  object
Age                                     int64
Source                                 object
IT                                      int64
Joining_Center                         object
Rank                                    int64
NoticePeriod                            int64
Big_four                                int64
Qualification1                         object
Hike                                    int32
Experienced                             int64
Expected_Month                          int64
IsNoticePeriodReimbursementProvided     int32
dtype: object

In [72]:
X_test.dtypes

Hiretype                               object
Title                                  object
Age                                     int64
Source                                 object
IT                                      int64
Joining_Center                         object
Rank                                    int64
NoticePeriod                            int64
Big_four                                int64
Qualification1                         object
Hike                                    int32
Experienced                             int64
Expected_Month                          int64
IsNoticePeriodReimbursementProvided     int64
dtype: object

In [73]:
y_test = df_test['Final_Status']

In [79]:
X.drop('IsNoticePeriodReimbursementProvided',axis=1,inplace=True)

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [80]:
X.drop('Expected_Month',axis=1,inplace=True)

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [92]:
X.to_csv('data1.csv')

In [81]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.compose import make_column_transformer
from sklearn.metrics import confusion_matrix
numColList=(X.dtypes[(X.dtypes=="int64") | (X.dtypes=="int")]).index
strColList=X.dtypes[X.dtypes=="object"].index
enc=make_column_transformer(
    (MinMaxScaler(), numColList),
    (OneHotEncoder(),strColList))
X_transform=enc.fit_transform(X)
#X_train, X_test, y_train, y_test = train_test_split(X_transform, y, random_state=0)

In [82]:
X.columns

Index(['Hiretype', 'Title', 'Age', 'Source', 'IT', 'Joining_Center', 'Rank',
       'NoticePeriod', 'Big_four', 'Qualification1', 'Hike', 'Experienced'],
      dtype='object')

In [83]:
X_transform.shape

(5310, 33)

from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.compose import make_column_transformer
from sklearn.metrics import confusion_matrix
numColList1=(X_test.dtypes[(X_test.dtypes=="int64") | (X_test.dtypes=="int")).index
strColList1=X_test.dtypes[X_test.dtypes=="object"].index
enc=make_column_transformer(
    (MinMaxScaler(), numColList1),
    (OneHotEncoder(),strColList1))

In [84]:
X_transform_new = enc.transform(X_test)

In [85]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import recall_score
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.pipeline import Pipeline
from sklearn.multiclass import OneVsRestClassifier
from sklearn.model_selection import GridSearchCV
#from adspy_shared_utilities import plot_class_regions_for_classifier_subplot

#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

clf = GradientBoostingClassifier(max_depth=2, n_estimators=1000, learning_rate =0.1).fit(X_transform, y)
prediction_on_testData=clf.predict(X_transform_new)
print("Test Accuracy", clf.score(X_transform_new,y_test))
confusion_matrix(y_test,prediction_on_testData)

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test Accuracy 0.4792332268370607

array([[70, 73],
       [90, 80]], dtype=int64)

In [365]:
print(metrics.recall_score(y_test,prediction_on_testData, average = None))

[0.47552448 0.51176471]

In [807]:
pipe = Pipeline(steps=[('estimator', GradientBoostingClassifier())])

parameters = [{
    'estimator__n_estimators': (5,10,20,30,40,50,60,70,80,90),
    'estimator__learning_rate': [0.01,0.03,0.05,.07,0.09,0.1,0.2,.3,.4,.5,1],
    'estimator__max_depth':(10,20,30,40,50,60,70,80,90),
}]

grid_search_tune = GridSearchCV(pipe, parameters, cv=2, n_jobs=5, verbose=3)
grid_search_tune.fit(X_train, y_train)
print(grid_search_tune.score(X_train,y_train))

print("Best parameters set:")
print(grid_search_tune.best_estimator_.steps)

Fitting 2 folds for each of 990 candidates, totalling 1980 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  22 tasks      | elapsed:   20.8s
[Parallel(n_jobs=5)]: Done 118 tasks      | elapsed:  1.5min
[Parallel(n_jobs=5)]: Done 278 tasks      | elapsed:  3.4min
[Parallel(n_jobs=5)]: Done 502 tasks      | elapsed:  6.2min
[Parallel(n_jobs=5)]: Done 790 tasks      | elapsed:  9.5min
[Parallel(n_jobs=5)]: Done 1142 tasks      | elapsed: 13.4min
[Parallel(n_jobs=5)]: Done 1558 tasks      | elapsed: 17.4min
[Parallel(n_jobs=5)]: Done 1980 out of 1980 | elapsed: 21.1min finished
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7992047713717694
Best parameters set:
[('estimator', GradientBoostingClassifier(learning_rate=0.01, max_depth=10, n_estimators=5))]

In [366]:
clf = GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.01, loss='deviance', max_depth=10,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=5,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False).fit(X_transform, y)
#prediction_on_testData=clf.predict(X_test)
clf.fit(X_transform,y)
prob_predict = clf.predict(X_transform_new)
print("Test Accuracy", clf.score(X_transform,y))
print(confusion_matrix(y_test,prediction_on_testData))
print(metrics.recall_score(y_test,prediction_on_testData, average = None))

c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test Accuracy 0.800376647834275
[[68 75]
 [83 87]]
[0.47552448 0.51176471]

In [367]:
#X_train

In [368]:
#y_train = y_train.to_numpy()

In [370]:
cross_val_score(clf, X_transform, y, scoring='recall', cv=10)

c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0.87169811, 0.68679245, 0.75471698, 0.91320755, 0.70943396,
       0.78030303, 0.78030303, 0.75      , 0.89772727, 0.64772727])

In [374]:
?GradientBoostingClassifier

In [203]:
Proba_pre = clf.predict_proba(X_test)

In [204]:
df_proba = pd.DataFrame(Proba_pre)

In [205]:
y_test

      OverallStatus_Labelenc
1003                       1
29                         0
1643                       0
4110                       1
1778                       0
...                      ...
322                        0
22                         0
4747                       1
2639                       0
4200                       1

[1328 rows x 1 columns]

In [206]:
pd.concat([y_test, df_proba], axis=1)

      OverallStatus_Labelenc         0         1
0                        NaN  0.497793  0.502207
1                        NaN  0.497793  0.502207
2                        NaN  0.507329  0.492671
3                        NaN  0.476455  0.523545
4                        0.0  0.509441  0.490559
...                      ...       ...       ...
5279                     1.0       NaN       NaN
5291                     1.0       NaN       NaN
5292                     1.0       NaN       NaN
5304                     1.0       NaN       NaN
5305                     1.0       NaN       NaN

[2325 rows x 3 columns]

In [91]:
from sklearn.ensemble import RandomForestClassifier
rand_classifer = RandomForestClassifier(n_estimators=100,criterion='entropy',max_depth=100,random_state=0)
rand_classifer.fit(X_transform,y)
y_pred_randforest = rand_classifer.predict(X_transform_new)
print(metrics.confusion_matrix(y_test,y_pred_randforest))
print(metrics.recall_score(y_test,y_pred_randforest, average = None))
print(metrics.accuracy_score(y_test,y_pred_randforest))

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

[[111  32]
 [146  24]]
[0.77622378 0.14117647]
0.43130990415335463

In [89]:
cross_val_score(rand_classifer, X_transform, y, scoring='precision', cv=10)

C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\madhan.s\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([0.67624021, 0.66572238, 0.65963061, 0.796875  , 0.77602524,
       0.75075075, 0.73529412, 0.79487179, 0.73469388, 0.7375    ])

In [821]:
?RandomForestClassifier

In [209]:
y_test.OverallStatus_Labelenc.value_counts()

0    670
1    658
Name: OverallStatus_Labelenc, dtype: int64

In [139]:
?LogisticRegression

In [210]:
from sklearn.preprocessing import binarize
from sklearn.metrics import accuracy_score, roc_auc_score, auc
 
t = 0.4  #threshold
proba = clf.predict_proba(X_test)
pred_at_t = binarize(proba, t)[:,1]

print(metrics.confusion_matrix(y_test,pred_at_t))
print(metrics.recall_score(y_test,pred_at_t,average = None))

[[265 405]
 [  7 651]]
[0.39552239 0.9893617 ]

In [211]:
y_test = y_test.to_numpy()

In [212]:
y_test

array([[1],
       [0],
       [0],
       ...,
       [1],
       [0],
       [1]])

In [213]:
from sklearn.preprocessing import binarize
from sklearn.metrics import accuracy_score, roc_auc_score, auc
 
t = 0.3  #threshold
proba = clf.predict_proba(X_test)
pred_at_t = binarize(proba, t)[:,1]

print(metrics.confusion_matrix(y_test,pred_at_t))
print(metrics.recall_score(y_test,pred_at_t,average = None))

[[  1 669]
 [  0 658]]
[0.00149254 1.        ]

In [214]:
type(y_train)

numpy.ndarray

In [215]:
X_train

<3982x57 sparse matrix of type '<class 'numpy.float64'>'
	with 52301 stored elements in Compressed Sparse Row format>

In [216]:
clf

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.09, loss='deviance', max_depth=10,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=5,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [219]:
from sklearn.preprocessing import binarize
from sklearn.metrics import accuracy_score, roc_auc_score, auc
 
t = 0.5  #threshold

clf.fit(X_train,y_train)
proba = clf.predict_proba(X_test)
pred_at_t = binarize(proba, t)[:,1]
cv_new = cross_val_score(clf, X_train, y_train,cv=10, scoring='recall')
print(cv_new)
print(np.mean(cv_new))
print(np.std(cv_new))
print(metrics.confusion_matrix(y_test,pred_at_t))
print(metrics.recall_score(y_test,pred_at_t,average = None))
print(metrics.accuracy_score(y_test,pred_at_t))

c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\nisha.nath\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0.77889447 0.83417085 0.82914573 0.8040201  0.84924623 0.79396985
 0.74371859 0.76767677 0.83333333 0.80808081]
0.8042256738236638
0.03185987255038446
[[484 186]
 [ 99 559]]
[0.72238806 0.84954407]
0.7853915662650602

In [423]:
X_train.shape

(2515, 187)

In [226]:
from sklearn.preprocessing import binarize
from sklearn.metrics import accuracy_score, roc_auc_score, auc
 
t = 0.5 #threshold
proba = clf.predict_proba(X_test)
pred_at_t = binarize(proba, t)[:,1]

print(metrics.confusion_matrix(y_test,pred_at_t))
print(metrics.recall_score(y_test,pred_at_t,average = None))

[[484 186]
 [ 99 559]]
[0.72238806 0.84954407]

In [808]:
#Crossvalidation
#models = [
 #   GradientBoostingClassifier(n_estimators=200, random_state=0)],
#CV = 10
#cv_df = pd.DataFrame(index=range(CV * len(models)))
#entries = []
#re = []
#pre = []
#for model in models:
   # model_name = model.__class__.__name__
   # accuracies = cross_val_score(model, X_train, y_train, scoring='accuracy', cv=CV)
   # recalls = cross_val_score(model, X_train, y_train, scoring='recall', cv=CV,)

In [ ]:
#cv_df_precision = pd.DataFrame(pre, columns=['model_name', 'fold_idx', 'precision_score']) 
#cv_df_recall = pd.DataFrame(re, columns=['model_name', 'fold_idx', 'recall_score']) 
#import seaborn as sns
#import matplotlib.pyplot as plt

#plt.figure(figsize=(10,5))
#sns.boxplot(x='model_name', y='accuracy', data=cv_df).set_title("Accuracy comparison - Cross Validation")
#sns.stripplot(x='model_name', y='accuracy', data=cv_df, 
#              size=8, jitter=True, edgecolor="gray", linewidth=2)
#plt.show() 
#import seaborn as sns
#import matplotlib.pyplot as plt

#plt.figure(figsize=(10,5))
#sns.boxplot(x='model_name', y='precision_score', data=cv_df_precision).set_title("Precision comparison - Cross Validation")
#sns.stripplot(x='model_name', y='precision_score', data=cv_df_precision, 
#              size=8, jitter=True, edgecolor="gray", linewidth=2)
#plt.show() 
#import seaborn as sns
##import matplotlib.pyplot as plt

#plt.figure(figsize=(10,5))
#sns.boxplot(x='model_name', y='recall_score', data=cv_df_recall).set_title("Recall scores - Cross Validation")
#sns.stripplot(x='model_name', y='recall_score', data=cv_df_recall, 
#              size=8, jitter=True, edgecolor="gray", linewidth=2)
#plt.show()